.main-content {
  /*Flex*/
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  /*Size*/
  padding: 0 50px
};

.main-layout {
  /*Flex*/
  display: flex;
  flex-direction: row;

  /*Size*/
  padding: 24px 0
}